<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISDETTA BANCHINA</title>
    
</head>
<body>
    <div id="container">
        <div id="content">
          <div class="title"><h1>Disdetta Ticket</h1></div>
          <form> 
            <label for="lb_licencePlate">Targa</label><br>
            <select [(ngModel)]="lpSelected" class="form-control" name="licencePlate" id="itemSelect" (click)="getAllLicencePlateActive()" required>
              <option *ngFor="let response of rispostaBeLp" [value]="response">{{response}}</option>
            </select><br>
            <label for="lb_reservations">Prenotazioni</label><br>
            <select [(ngModel)]="reservationSelected"  class="form-control" name="reservations" id="itemSelect" (click)="getReservationByLp(lpSelected)" required>
              <option [value]="rispostaBeTicket">
                Tipo Prenotazione: {{rispostaBeTicket.idTypeTicket}}
                Data Prenotazione: {{rispostaBeDate}}
              </option>
            </select>
              <button type="button" (click)="goBack()">INDIETRO</button>
              <button type="button" id="btn2" (click)="submit(rispostaBeTicket1)">INVIA</button><br><br>
          </form>
          </div>
    </div>
</body>
</html>
