<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserimento Imbarcazione</title>
</head>
<body>
    <div class="title"><h1>Inserimento Imbarcazione</h1></div>
    <div id="container">
        <div id="content">
        <form [formGroup] = "boat-registration">
            <label for="lb_name">Nome</label><br>
              <input type="text" formControlName="name" id="name" placeholder="Name" required><br>
            <label for="lb_name">Colore</label><br>
              <input type="text"  formControlName="colour" id="colour" placeholder="Colour" required><br>
            <label for="lb_name">Licenza di Navigazione</label><br>
              <input type="text"  formControlName="navigation_licence" id="navigation_licence" placeholder="Navigation_licence" required><br>
            <label for="lb_name">Dichiarazione di Potenza</label><br>
              <input type="text"  formControlName="power" id="power" placeholder="Power" required><br>
            <label for="lb_name">Dichiarazione di Conformità</label><br>
              <input type="text"  formControlName="declaration_of_conformity" id="declaration_of_conformity" placeholder="Declaration_of_conformity" required><br>
            <label for="lb_name">RCA</label><br>
              <input type="text"  formControlName="rca" id="rca" placeholder="rca" required><br>
            <button type="button" (click)="submit()">INVIA</button><br><br>
</body>
</html>
