<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserimento Imbarcazione</title>
</head>
<body>
    <div class="title"><h1>Inserimento Imbarcazione</h1></div>
    <div id="container">
        <div id="content">
          <form [formGroup] = "boat_registration">
            <label for="lb_name">Targa</label><br>
                <input type="text" formControlName="licence_plate" id="name" placeholder="Targa" required><br>
              <label for="lb_name">Nome</label><br>
                <input type="text" formControlName="name" id="name" placeholder="Nome" required><br>
              <label for="lb_name">Colore</label><br>
                <input type="text"  formControlName="colour" id="colour" placeholder="Colore" required><br>
              <label for="lb_name">Licenza di Navigazione</label><br>
                <input type="text"  formControlName="navigation_licence" id="navigation_licence" placeholder="Licenza di Navigazione" required><br>
              <label for="lb_name">Dichiarazione di Potenza</label><br>
                <input type="text"  formControlName="power" id="power" placeholder="Potenza" required><br>
              <label for="lb_name">Dichiarazione di Conformità</label><br>
                <input type="text"  formControlName="declaration_of_conformity" id="declaration_of_conformity" placeholder="Dichiarazione di conformità" required><br>
              <label for="lb_name">RCA</label><br>
                <input type="text"  formControlName="rca" id="rca" placeholder="Rca" required><br>
              <button type="button" (click)="submit()">INVIA</button><br><br>
          </form>
          </div>
    </div>
</body>
</html>
