<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div class="title"><h1>GESTIONE IMBARCAZIONE</h1></div><br>
    <div id="container">
        <div id="content">
            <button type="button" (click)="goToPage('home/gestione-imbarcazione/inserimento-imbarcazione')">AGGIUNGI IMBARCAZIONE</button><br>
            <button type="button" (click)="goToPage('home/gestione-imbarcazione/modifica-imbarcazione')">MODIFICA IMBARCAZIONE</button><br>
            <button type="button" (click)="goBack()">INDIETRO</button><br>
        </div>
    </div>
</body>
</html>
