/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');


body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-image: url('./bg4.jpg');
    background-size: cover;

}

.nationality {
    margin: 10px 0px;
    padding: 10px;
}

#container {
        display: flex;
        justify-content: center;
        align-items: center;
}

#content {
    box-shadow: 10px 10px 1px rgb(42, 96, 166, 0.2);
    border: 1px solid rgb(42, 96, 166, 0.2);
    background-color: #F7F7F7;
}


#content:hover {
    box-shadow: 10px 10px 1px rgb(42, 96, 166);
    border: 1px solid rgb(42, 96, 166);
}


button{
    padding: 10px 30px;
    color: rgb(42, 96, 166);
    background-color: #fff;
    border: 1px solid rgb(42, 96, 166);
    transition: 0.5s;
}

button:hover {
    background-color: rgb(42, 96, 166);
    color: #FFF;
}

#gender {
    margin: 15px;
}


.widthauto {
    width: auto;
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
