

p {
    text-decoration: underline;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none ;
}

#content {
    margin-top: 50px;
    transition: 0.5s;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
}

input {
    padding: 2em;
}

.title {
    text-align: center;
    padding-bottom: 3em;
}

button {
    width: 20%;
    height: 3em;
}
