<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BoatParking</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
      <div class="title"><h1>Login</h1></div>
      <div id="container">
        <div id="content">
        <form [formGroup]="login" align="center">
          <label for="lb_email">Email</label><br>
          <input type="text" class="widthauto" formControlName="email" id="email" placeholder="Email" required><br>
          <label for="lb_password" >Password</label><br>
          <input type="password" class="widthauto" formControlName="password" id="password" placeholder="Password" required><br>
          <button type="button" value="submit" (click)="submit()">INVIA</button><br>
          <label for="lb_registrati">Non hai un account? <a href="registration" (click)="goToRegistrationPage()">Registrati</a></label><br>
          <a href="password_dimenticata.html">Password dimenticata?</a>
        </form>
        </div>
      </div>
  </body>
</html>