<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BoatParking</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
      <div id="container">
        <div id="content" [hidden]="submitted">
        <div><h2 class="title">Login</h2></div>
        <form [formGroup]="login">
          <div>
            <div>
              <label for="lb_email">Email</label>
              <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
              <div 
              [hidden]="login.controls['email'].valid || (login.controls['email'].pristine && !submitted)"
              class="alert alert-danger">
                L'email non è valida
              </div><br>
            </div>
          </div>
          <div>
            <div>
              <label for="lb_email">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" required>
              <div [hidden]="login.controls['password'].valid || login.controls['password'].pristine"  class="alert alert-danger">
                La password non è valida
              </div><br>
            </div>
          </div>
          <a href="password_dimenticata.html">Password dimenticata?</a><br><br>
          <span (click)="hideShowPass()" class="fa {eyeIcon}"></span>
          <button type="button" value="submit" [disabled]="(!login.valid)"  (click)="getCfByEmail(login.value.email); userLogin(login.value)"  class="form-control">INVIA</button><br>
          <label for="lb_registrati">Non hai un account? <a href="registration" routerLink="/registration">Registrati</a></label><br>
          <div>{{rispostaBeLogin}}</div>
        </form>
        </div>
      </div>
  </body>
</html>