<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BoatParking</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
      <div id="container">
        <div id="content" [hidden]="submitted">
        <div class="title"><h1>Login</h1></div>
        <form #userLogin="ngForm">
          <label for="name">Email</label>
          <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="Email">
          <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
                L'email è obbligatoria
          </div><br>
          <label for="name">Password</label>
          <input type="password" class="form-control" id="name"
          required
          [(ngModel)]="model.password" name="password" #pass="ngModel" placeholder="Password">
          <div *ngIf="pass.errors?.['pattern']">
            User name not valid.
          </div> 
          <div [hidden]="pass.valid || pass.pristine"
             class="alert alert-danger">
                La Password non è valida
          </div>
          
          <br><br>
          <span (click)="hideShowPass()" class="fa {eyeIcon}"></span>
          <button type="button" value="submit" (click)="submit()" class="form-control">INVIA</button><br>
          <label for="lb_registrati">Non hai un account? <a href="registration" routerLink="/registration">Registrati</a></label><br>
          <a href="password_dimenticata.html">Password dimenticata?</a>
          <div>{{rispostaBeLogin}}</div>
        </form>
        </div>
      </div>
  </body>
</html>