<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RICHIESTA SERVIZI</title>
</head>
<body>
    <div class="title"><h1>RICHIESTA SERVIZI</h1></div><br>
    <div id="container">
        <div id="content">
            <button type="button" (click)="goToPage('home/richiesta-servizi/manutenzione')">RICHIESTA MANUTENZIONE</button><br>
            <button type="button" (click)="goToPage('home/richiesta-servizi/pulizie')">RICHIESTA PULIZIE</button><br>
            <button type="button" (click)="goToPage('home/richiesta-servizi/rifornimento')">RICHIESTA RIFORNIMENTO</button><br>
            <button type="button" (click)="goBack()">INDIETRO</button><br>
        </div>
    </div>
</body>
</html>